<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的消息</title>
    <link rel="stylesheet" th:href="@{./css/mymessage.css}">
    <link rel="shortcut icon" th:href=" @{/favicon.ico}" />
</head>

<body>
    <div class="box">
        <div class="nav">
            <span class="head">消息中心</span><a th:href="@{/toindexafter}" style="margin-left: 50px"id="a">返回</a>
            <ul>
                <li><a href="#p1">回复我的</a><span>1</span></li>
                <li><a href="#p2">系统通知</a><span>2</span></li>
                <li><a href="#p3">我的消息</a><span>3</span></li>
                <li><a href="#p4">我的订单</a><span>4</span></li>
            </ul>
        </div>
        <div class="system-info" id="p2">
            <div class="top-box">
                <span>系统通知</span>
            </div>
            <div class="system-info-section">
                <div class="div">
                    <span class="title">测试系统通知</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="time">2021/12/12</span>
                    <br>
                    <span class="div-info">测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</span>
                </div>
                <div class="div"><span class="title">测试系统通知</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="time"></span>
                    <br>
                    <span class="div-info">测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</span>
                </div>
                <div class="div"><span class="title">测试系统通知标题</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="time"></span>
                    <br>
                    <span class="div-info">测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</span>
                </div>
            </div>

        </div>
        <div class="to-my-message" id="p1">
            <div class="top-box">
                <span>回复我的</span>
            </div>
            <div class="system-info-section">
                <div class="div">
                    <img src="" alt="">
                    <span class="title">用户昵称</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="reply">回复了我</span>
                    <br>
                    <span class="div-info">测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</span>
                    <br>
                    <span class="time">2021/12/12</span>
                </div>
                <div class="div">
                    <img src="" alt="">
                    <span class="title">用户昵称</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="reply">回复了我</span>
                    <br>
                    <span class="div-info">测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</span>
                    <br>
                    <span class="time">2021/12/12</span>
                </div>
                <div class="div">
                    <img src="" alt="">
                    <span class="title">用户昵称</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="reply">回复了我</span>
                    <br>
                    <span class="div-info">测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</span>
                    <br>
                    <span class="time">2021/12/12</span>
                </div>
                <div class="div">
                    <img src="" alt="">
                    <span class="title">用户昵称</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="reply">回复了我</span>
                    <br>
                    <span class="div-info">测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</span>
                    <br>
                    <span class="time">2021/12/12</span>
                </div>
                <div class="div">
                    <img src="" alt="">
                    <span class="title">用户昵称</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="reply">回复了我</span>
                    <br>
                    <span class="div-info">测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</span>
                    <br>
                    <span class="time">2021/12/12</span>
                </div>
                <div class="div">
                    <img src="" alt="">
                    <span class="title">用户昵称</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="reply">回复了我</span>
                    <br>
                    <span class="div-info">测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</span>
                    <br>
                    <span class="time">2021/12/12</span>
                </div>
                <div class="div">
                    <img src="" alt="">
                    <span class="title">用户昵称</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="reply">回复了我</span>
                    <br>
                    <span class="div-info">测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</span>
                    <br>
                    <span class="time">2021/12/12</span>
                </div>
                <div class="div">
                    <img src="" alt="">
                    <span class="title">用户昵称</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="reply">回复了我</span>
                    <br>
                    <span class="div-info">测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</span>
                    <br>
                    <span class="time">2021/12/12</span>
                </div>
                <div class="div">
                    <img src="" alt="">
                    <span class="title">用户昵称</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="reply">回复了我</span>
                    <br>
                    <span class="div-info">测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</span>
                    <br>
                    <span class="time">2021/12/12</span>
                </div>
                <div class="div">
                    <img src="" alt="">
                    <span class="title">用户昵称</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="reply">回复了我</span>
                    <br>
                    <span class="div-info">测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</span>
                    <br>
                    <span class="time">2021/12/12</span>
                </div>
                <div class="div">
                    <img src="" alt="">
                    <span class="title">用户昵称</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="reply">回复了我</span>
                    <br>
                    <span class="div-info">测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</span>
                    <br>
                    <span class="time">2021/12/12</span>
                </div>
                <div class="div">
                    <img src="" alt="">
                    <span class="title">用户昵称</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="reply">回复了我</span>
                    <br>
                    <span class="div-info">测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</span>
                    <br>
                    <span class="time">2021/12/12</span>
                </div>
                <div class="div">
                    <img src="" alt="">
                    <span class="title">用户昵称</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="reply">回复了我</span>
                    <br>
                    <span class="div-info">测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</span>
                    <br>
                    <span class="time">2021/12/12</span>
                </div>
            </div>
        </div>
        <div class="my-message" id="p3">
            <div class="top-box">
                <span>我的消息</span>
            </div>
            <div class="system-info-section">
                <div class="div">
                    <img src="" alt="">
                    <span class="title">用户昵称</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="time">2021/12/12</span>
                    <br>
                    <span class="div-info">测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</span>
                </div>
                <div class="div">
                    <img src="" alt="">
                    <span class="title">官方账号昵称</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="time"></span>
                    <br>
                    <span class="div-info">测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</span>
                </div>
                <div class="div">
                    <img src="" alt="">
                    <span class="title">测试信息通知标题</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="time"></span>
                    <br>
                    <span class="div-info">测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</span>
                </div>
            </div>

        </div>
        <div class="purchase" id="p4">
            <div class="top-box">
                <span>我的订单</span>
            </div>
            <div class="system-info-section">
                <div class="div">
                    <span class="title">测试系统通知</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="time">2021/12/12</span>
                    <br>
                    <span class="div-info">测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</span>
                </div>
                <div class="div"><span class="title">测试系统通知</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="time"></span>
                    <br>
                    <span class="div-info">测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</span>
                </div>
                <div class="div"><span class="title">测试系统通知标题</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="time"></span>
                    <br>
                    <span class="div-info">测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</span>
                </div>
            </div>

        </div>

</body>

</html>