* {
    padding: 0;
    margin: 0;
}
html {
    font-family: sans-serif;
  }
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../updata_img/wooden.png");
}

  form {
    width: 600px;
    background: rgba(0, 0, 0, 0.4);
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
  }

  form ol {
    padding-left: 0;
  }

  form li, div > p {
    background: #eee;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    list-style-type: none;
    border: 1px solid black;
  }

  form img {
    height: 64px;
    order: 1;
  }

  form p {
    line-height: 32px;
    padding-left: 10px;
  }

  form label, form button {
    background: linear-gradient(to right, #688C8A,#DEAE64,#486D66,#E9EADA);
    background-size: 400%;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px ridge black;
    font-size: 0.8rem;
    height: auto;
  }

  form label:hover, form button:hover { 
    color: white;
    animation: go 8s linear infinite;
  }

  form label:active, form button:active {
    color: white;
    animation: go 8s linear infinite;
  }
  @keyframes go {
      0% {
          background-position: 0%;
      }
      100% {
          background-position: 400%;
      }
  }

  textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}
textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}
.return {
    position: absolute;
    top: 0;
    left: 100px;
    text-align: center;
    line-height: 60px;
    width: 200px;
    height: 60px;
    background-color: #688C8A;
    border-radius: 25px;
}
.return a {
    text-decoration: none;
    color: #fff;
}
.return:hover {
    background-color: burlywood;
}
.return img {
    width: 30px;
    height: 30px;
}
